/*------------------------------
 Banner
------------------------------*/

// Notes...

.banner {

	position: relative;
	// width: 100vw;
	// left: 50%;
	// right: 50%;
	// margin-left: -50vw;
	// margin-right: -50vw;
	margin-bottom: 3em;
	// background: rgba($color-primary-green, 0.85);
	overflow: hidden;

}

	.banner__inner-wrap {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;

		width: 100%;
		max-width: 960px;
		height: 200px;
		margin: 0 auto;
		color: $color-base-white;

	}

		.banner__title {

			margin: 0;
			font-size: 3.375rem;
			font-weight: normal;
			text-shadow: 0 3px 7px rgba($color-base-black, 0.25);

		}

		.banner__picture {

			position: absolute;
			left: 50%;
			top: 0;
			height: 100%;
			transform: translate(-50%, 0);
			background: $color-primary-green;
			z-index: -1;

		}

			.banner__img {

				max-width: none;
				height: 100%;

				filter: grayscale(100%);

				opacity: 0.15;

			}