/*------------------------------
 Testimonial
------------------------------*/

// Notes...

.testimonial {

	margin: 4.5em 0 0 0;
	padding: 4.5em 0 0 0;
	// background: pink;
	border-top: 1px solid $color-gray-10;

	// Temporarily hidden on blog and individual blog post entries

	.blog &,
	.single-post & {

		display: none;

	}

}

	.testimonial__inner-wrap {}

		.testimonial__header {

			margin: 0 0 1.5em 0;
			font-size: 1rem;
			font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
			text-align: center;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 7px;
			color: $color-gray-30;

		}

		.testimonial__blockquote {}

			.testimonial__quote {

				font-size: 1.5rem;
				font-family: 'Merriweather', Times, 'Times New Roman', serif;
				font-style: italic;
				text-align: center;
				color: $color-gray-30;

				p {

					&:last-of-type {

						margin: 0;

					}

				}

			}

			.testimonial__source {

				margin: 1em 0 0 0;
				text-align: center;

			}

				.testimonial__dash {

					color: $color-gray-50;

				}

				.testimonial__name {

					color: $color-gray-50;

				}

				.testimonial__title {

					color: $color-gray-30;

				}