/*------------------------------
 Footer
------------------------------*/

// Notes...

.footer {

	margin: 5em 0 0 0;
	padding: 0 20px;
	color: $color-base-white;
	background: $color-primary-blue;

	@media screen and (min-width: 600px) {

		padding: 0 40px;

	}

	@media screen and (min-width: 800px) {

		padding: 0 60px;

	}

}

	.footer__wrap {

		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		padding: 4em 0;

	}

		.widgets {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: flex-start;
			align-content: flex-start;

		}

			.widget__item {

				width: calc(33.33333% - 3em);

			}

				.widget__header {

					font-family: 'Merriweather', Times, 'Times New Roman', serif;
					margin: 0 0 1.75rem 0;

				}

				.widget__content {}

					.secondary-nav {}

						.secondary-nav__list {

							margin: 0;
							padding: 0;
							list-style: none;

							.menu-item,
							.secondary-nav__item {

								margin: 0 0 0.65em 0;
								font-weight: normal;

								&:last-of-type {

									margin: 0;

								}

							}

								a,
								.secondary-nav__link,
								.single-post & a,
								.single-trip & a,
								.single-destination & a {

									color: $color-base-white;

									&:hover {

										color: $color-base-white;
										text-decoration: underline;

									}

								}

						}

					.summary {}

						.summary__title {

							font-size: 1rem;

						}

							.summary__link {

								color: $color-base-white;

								&:hover {}

							}

					.summary__more {}

						.summary__more-link {

							color: $color-base-white;

							&:hover {}

						}

					.h-card {

						margin: 0 0 1.5em 0;

					}

						.p-name {

							font-weight: bold;

						}

						.p-adr {}

							.p-locality {}

							.p-region {}

						.p-tel {

							a {

								color: $color-base-white;

							}

						}

						.u-email {}

							.u-email__link {

								color: $color-base-white;

								&:hover {}

							}

					.social {

						margin: 2em 0 0 0;

					}

						.social__list {

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: flex-start;
							align-items: flex-start;
							align-content: flex-start;

							margin: 0;
							padding: 0;
							list-style: none;

						}

							.social__item {

								margin: 0 1.5em 0 0;

							}

								.social__link {

									display: block;
									width: 40px;
									height: 40px;
									background: rgba($color-base-white, 0.25) url(../img/social.svg) 0 0 no-repeat;
									background-size: 120px 40px;
									border-radius: 50%;
									@include hide-text;
									transition: background-color 0.35s ease-in-out;

									&:hover {

										background-color: rgba($color-base-white, 0.35);

									}

								}

							// Facebook

							.social__facebook {

								.social__link {

									&:hover {}

								}

							}

							// Twitter

							.social__twitter {

								.social__link {

									background-position-x: -40px;

									&:hover {}

								}

							}

							// Instagram

							.social__instagram {

								.social__link {

									background-position-x: -80px;

									&:hover {}

								}

							}

		.affiliations {

			margin: 5em 0 0 0;

		}

			.affiliations__list {

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				align-content: flex-start;

				margin: 0;
				padding: 0;
				list-style: none;

			}

				.affiliations__item {

					margin: 0 1.5em 0 0;

				}

					.affiliations__link {

						display: block;
						width: 200px;
						height: 80px;
						background: $color-base-white;
						@include hide-text;

					}

						.affiliations__picture {}

							.affiliations__img {

								max-width: none;
								height: 100%;

							}

		.copyright {

			margin: 3em 0 0 0;

		}

			.copyright__link {

				color: $color-base-white;

			}