/*------------------------------
 Header
------------------------------*/

// Notes...

.header {

	padding: 0 20px;
	border-bottom: 1px solid $color-gray-10;

	@media screen and (min-width: 600px) {

		padding: 0 40px;

	}

	@media screen and (min-width: 800px) {

		padding: 0 60px;

	}

}

	.header__wrap {

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: flex-start;

		width: 100%;
		max-width: 960px;
		margin: 0 auto;

	}

		.logo {}

			.logo__link {

				display: block;
				width: 200px;
				height: 100px;
				background: url(../img/logo.svg) center center no-repeat;
				@include hide-text();

			}

		.nav {}

			.nav__toggle {

				display: none;

			}

				.nav__label {}

			.nav__list {

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				align-content: flex-start;

				margin: 0;
				padding: 0;
				font-family: 'Merriweather', Times, 'Times New Roman', serif;
				list-style: none;

			}

				.nav__item,
				.menu-item {

					margin: 0 0 0 1.75em;
					font-weight: bold;

					a {

						display: block;
						// padding: 1em 0 1em 0;
						color: $color-gray-80;
						// background: pink;
						text-decoration: none;

						&:hover {

							color: $color-primary-orange;

						}

					}

				}

				.nav__item--is-current,
				.current-menu-item,
				.single-trip .menu-item-23,
				.single-destination .menu-item-21,
				.single-post .menu-item-20 {

					a {

						color: $color-primary-orange;

						&:hover {}

					}

				}