/*------------------------------
 Main
------------------------------*/

// Notes...

.main {}

	.main__wrap {

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;

		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		// background: rgba(pink, 0.35);

	}

		.main__primary {

			flex: 2;

		}

		.main__secondary {

			flex: 1;
			margin-left: 3em;

		}

			/* Favorite Trips */

			.favorite-trips {}

				.favorite-trips__inner-wrap {}

					.favorite-trips__list {

						margin: 0;
						padding: 0;
						list-style: none;

					}

						.favorite-trips__item {

							position: relative;
							margin: 0 0 3em 0;
							background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.favorite-trips__picture {}

								.favorite-trips__img {}

							.favorite-trips__overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.favorite-trips__title {

									margin: 0;
									color: $color-base-white;

								}

								.favorite-trips__more {

									margin: 2.5em 0 0 0;

								}

									.favorite-trips__link {

										display: inline-block;
										padding: 1em 2.5em 1em 2.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}

			/* Destinations */

			.destinations {}

				.destinations__inner-wrap {}

					.destinations__list {

						margin: 0;
						padding: 0;
						list-style: none;

					}

						.destinations__item {

							position: relative;
							margin: 0 0 3em 0;
							background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.destinations__picture {}

								.destinations__img {}

							.destinations__overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.destinations__title {

									margin: 0;
									color: $color-base-white;

								}

								.destinations__more {

									margin: 2.5em 0 0 0;

								}

									.destinations__link {

										display: inline-block;
										padding: 1em 2.5em 1em 2.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}
			
			/* Featured Destinations */

			.featured-destinations {}

				.featured-destinations__inner-wrap {}

					.featured-destinations__title-one {

						margin: 0 0 2em 0;

					}

						.featured-destinations__title {

							font-size: 2.25rem;
							font-family: 'Merriweather', Times, 'Times New Roman', serif;
							font-weight: bold;
							text-align: center;

						}

						.featured-destinations__header {

							margin: 0;
							font-size: 1.5em;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							text-align: center;
							color: $color-primary-orange;

						}

					.featured-destinations__title-two {}

						.featured-destinations__list {

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							align-items: stretch;
							align-content: flex-start;

							margin: 0;
							padding: 0;
							list-style: none;

							// background: pink;

						}

							.featured-destinations__item {

								width: calc(33.33333% - 2em);
								margin: 0;
								// background: pink;

							}

								.featured-destinations__picture {

									display: block;
									margin: 0 0 1.5em 0;

								}

									.featured-destinations__img {}

								.featured-destinations__location {}

									.featured-destinations__link {}

								.featured-destinations__details {

									p {

										&:last-of-type {

											margin: 0;

										}

									}

								}

								.featured-destinations__more {

									display: none;
									margin: 2.5em 0 0 0;

								}

									.featured-destinations__more-link {

										display: inline-block;
										padding: 1em 1.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}

			/* Partners */

			.partners {

				margin: 5em 0 0 0;

			}

				.partners__inner-wrap {}

					.partners__one {}

						.partners__list {

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							align-items: flex-start;
							align-content: flex-start;

							margin: 0;
							padding: 0;
							list-style: none;

						}

							.partners__item {

								width: calc(50% - 2em);
								margin: 0;

							}

								.partners__picture {

									display: block;
									margin: 0 0 2em 0;

								}

									.partners__img {}

								.partners__name {

									margin: 0;

								}

								.partners__title {

									color: $color-gray-30;
									font-weight: normal;
									font-style: italic;

								}

								.partners__bio {

									p {

										&:last-of-type {

											margin: 0;

										}

									}

								}