/*------------------------------
 Main
------------------------------*/

// Notes...

.main {

	padding: 0 20px;

	@media screen and (min-width: 600px) {

		padding: 0 40px;

	}

	@media screen and (min-width: 800px) {

		padding: 0 60px;

	}

}

	.main__wrap {

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;

		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		// background: rgba(pink, 0.35);

	}

		.main__primary {

			flex: 2;

		}

		.main__secondary {

			flex: 1;
			margin-left: 3em;
			// padding-left: 2.25em;
			// border: 1px solid $color-gray-20;

			// background: pink;
			background: $color-gray-10;
			background: lighten($color-primary-tan, 25%);

		}

			/* Favorite Trips */

			.favorite-trips {}

				.favorite-trips__inner-wrap {}

					.favorite-trips__list {

						margin: 0;
						padding: 0;
						list-style: none;

					}

						.favorite-trips__item {

							position: relative;
							margin: 0 0 3em 0;
							// background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.favorite-trips__picture {}

								.favorite-trips__img {}

							.favorite-trips__overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.favorite-trips__title {

									margin: 0;
									color: $color-base-white;
									text-shadow: 0 3px 7px rgba($color-base-black, 0.25);

								}

								.favorite-trips__detail {

									color: $color-primary-orange;

									p {

										&:last-of-type {

											margin: 0;

										}

									}

								}

								.favorite-trips__more {

									margin: 2em 0 0 0;

								}

									.favorite-trips__link {

										display: inline-block;
										padding: 1em 2.5em 1em 2.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}

			/* Single Trip */

			.trip__overview {}

				.trip__overview-inner-wrap {}

					.trip__overview-header {

						font-size: 2.25rem;
						font-family: 'Merriweather', Times, 'Times New Roman', serif;
						font-weight: bold;
						text-align: center;

					}

					.trip__overview-subheader {

						margin: 0;
						font-size: 1.5em;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						text-align: center;
						color: $color-primary-orange;

					}

					.trip__overview-description {

						margin: 1em 0 0 0;
						font-style: italic;
						text-align: center;
						color: $color-gray-50;

					}

			.trip__travefy {

				margin: 4em 0 0 0;
				padding: 1em;
				background: $color-gray-10;

			}

				.trip__travefy-inner-wrap {}

					.trip__travefy-iframe {

						width: 100%;
						height: 700px;
						border: 1px solid $color-gray-20;

					}

			.trip__itinerary {

				margin: 4.5em 0 0 0;
				// background: pink;

			}

				.trip__itinerary-inner-wrap {

					display: flex;
					flex-direction: row-reverse;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-start;
					align-content: flex-start;

				}

					.trip__itinerary-image {

						width: calc(50% - 20px);
						// background: orange;

					}

						.trip__itinerary-picture {}

							.trip__itinerary-img {}

					.trip__itinerary-detail {

						width: calc(50% - 20px);
						// background: yellow;

					}

						.trip__itinerary-header {}

						.trip__itinerary-subheader {

							margin: 0 0 1em 0;
							font-size: 1.5em;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							color: $color-primary-orange;

						}

						.trip__itinerary-label {

							margin: 0 0 1.5em 0;
							font-size: 1rem;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							// text-align: center;
							text-transform: uppercase;
							letter-spacing: 7px;
							color: $color-gray-30;

						}

						.trip__itinerary-description {

							p {

								&:last-of-type {

									margin: 0;

								}

							}

						}

			.trip__locations {

				margin: 4.5em 0 0 0;
				padding: 4.5em 0 0 0;
				// background: pink;
				border-top: 1px solid $color-gray-10;

			}

				.trip__locations-inner-wrap {}

					.trip__locations-header {

						font-size: 2.25rem;
						font-family: 'Merriweather', Times, 'Times New Roman', serif;
						font-weight: bold;
						text-align: center;

					}

					.trip__locations-subheader {

						margin: 0;
						font-size: 1.5rem;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						text-align: center;
						color: $color-primary-orange;

					}

					.trip__locations-list {

						margin: 2em 0 0 0;
						padding: 0;
						list-style: none;

					}

						.trip__locations-item {

							position: relative;
							margin: 0 0 3em 0;
							// background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.trip__locations-picture {}

								.trip__locations-img {}

							.trip__locations-overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.trip__locations-title {

									margin: 0;
									color: $color-base-white;
									text-shadow: 0 3px 7px rgba($color-base-black, 0.25);

								}

								.trip__locations-detail {

									margin: 1em 0 0 0;
									color: $color-primary-orange;

									p {}

								}

			/* The Experience */

			.experience__overview {}

				.experience__overview-inner-wrap {}

					.experience__overview-header {

						font-size: 2.25rem;
						font-family: 'Merriweather', Times, 'Times New Roman', serif;
						font-weight: bold;
						text-align: center;

					}

					.experience__overview-subheader {

						margin: 0;
						font-size: 1.5em;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						text-align: center;
						color: $color-primary-orange;

					}

					.experience__overview-content {

						margin: 1em 0 0 0;
						font-style: italic;
						text-align: center;
						color: $color-gray-50;

						p {

							&:last-of-type {}

						}

					}

			/* Services */

			.experience__services {

				margin: 4em 0 0 0;

			}

				.experience__services-inner-wrap {}

					.experience__services-section-one {}

						.experience__services-header {}

						.experience__services-subheader {}

						.experience__services-contanct {}

					.experience__services-section-two {}

						.experience__services-list {

							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-between;
							align-items: stretch;
							align-content: flex-start;

							margin: 0;
							padding: 0;
							list-style: none;

							border: 1px solid lighten($color-primary-green, 15%);;
							border-right: none;
							border-bottom: none;

						}

							.experience__services-item {

								width: 33.33333%;
								margin: 0;
								padding: 2em;
								border-right: 1px solid lighten($color-primary-green, 15%);;
								border-bottom: 1px solid lighten($color-primary-green, 15%);;
								background: lighten($color-primary-green, 60%);

							}

								.experience__services-icon {

									// background: yellow;

								}

									.experience__services-img {

										width: 120px;
										// border-radius: 50%;
										margin: 0 auto;
										// background: lighten($color-primary-green, 50%);

									}

								.experience__services-title {

									margin: 1em 0 0 0;
									text-align: center;
									color: $color-primary-green;
									// background: pink;

								}

			// .experience__story

				// .experience__story-inner-wrap

					// .div

						// image

					// .div

						// content

			/* Destinations */

			.destinations {}

				.destinations__inner-wrap {}

					.destinations__list {

						margin: 0;
						padding: 0;
						list-style: none;

					}

						.destinations__item {

							position: relative;
							margin: 0 0 3em 0;
							// background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.destinations__picture {}

								.destinations__img {}

							.destinations__overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.destinations__title {

									margin: 0;
									color: $color-base-white;
									text-shadow: 0 3px 7px rgba($color-base-black, 0.25);

								}

								.destinations__detail {

									color: $color-primary-orange;

									p {

										&:last-of-type {

											margin: 0;

										}

									}

								}

								.destinations__more {

									margin: 2em 0 0 0;

								}

									.destinations__link {

										display: inline-block;
										padding: 1em 2.5em 1em 2.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}
	
			/* Single Destination */

			.destination__overview {}

				.destination__overview-inner-wrap {}

					.destination__overview-header {

						font-size: 2.25rem;
						font-family: 'Merriweather', Times, 'Times New Roman', serif;
						font-weight: bold;
						text-align: center;

					}

					.destination__overview-subheader {

						margin: 0;
						font-size: 1.5em;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						text-align: center;
						color: $color-primary-orange;

					}

					.destination__overview-description {

						margin: 1em 0 0 0;
						font-style: italic;
						text-align: center;
						color: $color-gray-50;

					}

			.destination__travefy {

				margin: 4em 0 0 0;
				padding: 1em;
				background: $color-gray-10;

			}

				.destination__travefy-inner-wrap {}

					.destination__travefy-iframe {

						width: 100%;
						height: 700px;
						border: 1px solid $color-gray-20;

					}

			.destination__itinerary {

				margin: 4.5em 0 0 0;
				// background: pink;

			}

				.destination__itinerary-inner-wrap {

					display: flex;
					flex-direction: row-reverse;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-start;
					align-content: flex-start;

				}

					.destination__itinerary-image {

						width: calc(50% - 20px);
						// background: orange;

					}

						.destination__itinerary-picture {}

							.destination__itinerary-img {}

					.destination__itinerary-detail {

						width: calc(50% - 20px);
						// background: yellow;

					}

						.destination__itinerary-header {}

						.destination__itinerary-subheader {

							margin: 0 0 1.5em 0;
							font-size: 1rem;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							// text-align: center;
							text-transform: uppercase;
							letter-spacing: 7px;
							color: $color-gray-30;

						}

						.destination__itinerary-description {

							p {

								&:last-of-type {

									margin: 0;

								}

							}

						}

			.destination__locations {

				margin: 4.5em 0 0 0;
				padding: 4.5em 0 0 0;
				// background: pink;
				border-top: 1px solid $color-gray-10;

			}

				.destination__locations-inner-wrap {}

					.destination__locations-header {

						font-size: 2.25rem;
						font-family: 'Merriweather', Times, 'Times New Roman', serif;
						font-weight: bold;
						text-align: center;

					}

					.destination__locations-subheader {

						margin: 0;
						font-size: 1.5rem;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						text-align: center;
						color: $color-primary-orange;

					}

					.destination__locations-list {

						margin: 2em 0 0 0;
						padding: 0;
						list-style: none;

					}

						.destination__locations-item {

							position: relative;
							margin: 0 0 3em 0;
							// background: pink;

							&:last-of-type {

								margin: 0;

							}

						}

							.destination__locations-picture {}

								.destination__locations-img {}

							.destination__locations-overlay {

								display: flex;
								flex-direction: column;
								flex-wrap: nowrap;
								justify-content: flex-end;
								align-items: flex-start;
								align-content: flex-start;

								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								padding: 3em;
								z-index: 1;

							}

								.destination__locations-title {

									margin: 0;
									color: $color-base-white;
									text-shadow: 0 3px 7px rgba($color-base-black, 0.25);

								}

								.destination__locations-detail {

									margin: 1em 0 0 0;
									color: $color-primary-orange;

									p {}

								}

			.destination__promo {

				// Temporarily hidden until I figure out what it is.

				display: none;

			}

				.destination__promo-inner-wrap {}

			/* Featured Destinations */

			.featured-destinations {}

				.featured-destinations__inner-wrap {}

					.featured-destinations__title-one {

						margin: 0 0 2em 0;

					}

						.featured-destinations__title {

							font-size: 2.25rem;
							font-family: 'Merriweather', Times, 'Times New Roman', serif;
							font-weight: bold;
							text-align: center;

						}

						.featured-destinations__header {

							margin: 0;
							font-size: 1.5em;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							text-align: center;
							color: $color-primary-orange;

						}

					.featured-destinations__title-two {}

						.featured-destinations__list {

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							align-items: stretch;
							align-content: flex-start;

							margin: 0;
							padding: 0;
							list-style: none;

							// background: pink;

						}

							.featured-destinations__item {

								width: calc(33.33333% - 2em);
								margin: 0;
								// background: pink;

							}

								.featured-destinations__picture {

									display: block;
									margin: 0 0 1.5em 0;

								}

									.featured-destinations__img {}

								.featured-destinations__location {}

									.featured-destinations__link {}

								.featured-destinations__details {

									p {

										&:last-of-type {

											margin: 0;

										}

									}

								}

								.featured-destinations__more {

									display: none;
									margin: 2.5em 0 0 0;

								}

									.featured-destinations__more-link {

										display: inline-block;
										padding: 1em 1.5em;
										color: $color-base-white;
										background: $color-primary-green;
			
										&:hover {
			
											text-decoration: none;
			
										}

									}

					.featured-destinations__title-three {}

						.featured-destinations__learn-more {

							width: 100%;
							max-width: 400px;
							margin: 4em auto 0 auto;

						}

							.featured-destinations__learn-more-link {

								display: block;
								padding: 1em 2.5em 1em 2.5em;
								text-align: center;
								color: $color-base-white;
								background: $color-primary-orange;

								&:hover {

									text-decoration: none;

								}

							}

			/* Story */

			.story {

				margin: 0 0 5em 0;

				&:last-of-type {

					margin: 0;

				}

			}

				.story__inner-wrap {

					display: flex;
					flex-direction: row-reverse;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-start;
					align-content: flex-start;

					// background: pink;

					.story:nth-child(even) & {

						flex-direction: row;

					}

				}

					.story__image {

						width: calc(50% - 20px);

					}

						.story__picture {}

							.story__img {}

					.story__contents {

						width: calc(50% - 20px);

					}

						.story__header {}

						.story__subheader {

							margin: 0;
							font-size: 1.5em;
							font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
							font-weight: normal;
							color: $color-primary-orange;

						}

						.story__content {

							margin: 1em 0 0 0;

							p {

								&:last-of-type {}

							}

						}

			/* Partners */

			.partners {

				margin: 5em 0 0 0;
				padding: 5em 0 0 0;
				border-top: 1px solid $color-gray-10;

			}

				.partners__inner-wrap {}

					.partners__one {}

						.partners__list {

							margin: 0;
							padding: 0;
							list-style: none;

						}

							.partners__item {

								display: flex;
								flex-direction: row-reverse;
								flex-wrap: nowrap;
								justify-content: space-between;
								align-items: flex-start;
								align-content: flex-start;

								// width: calc(50% - 2em);
								margin: 0 0 5em 0;

								&:last-of-type {

									margin: 0;

								}

								&:nth-child(even) {

									flex-direction: row;
			
								}

							}

								.partners__image {

									width: calc(50% - 20px);

								}

									.partners__picture {

										display: block;
										// margin: 0 0 2em 0;
										// padding: 3em 1em;
										// border: 1px solid lighten($color-primary-green, 15%);
										// background: $color-gray-10;

									}

										.partners__img {

											// max-widths: 300px;
											// margin: 0 auto;
											// border-radius: 50%;

										}

								.partners__content {

									width: calc(50% - 20px);

								}

									.partners__name {}

									.partners__title {

										margin: 0;
										font-size: 1.5em;
										font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
										font-weight: normal;
										color: $color-primary-orange;

									}

									.partners__bio {

										margin: 1em 0 0 0;

										p {

											&:last-of-type {

												margin: 0;

											}

										}

									}

			/* Posts */

			.posts {}

				.posts__inner-wrap {}

					.posts__list {}

						.posts__item {

							margin: 0 0 3em 0;
							padding: 0 0 3em 0;
							border-bottom: 1px solid $color-gray-10;

							&:last-of-type {

								margin: 0;
								padding: 0;
								border: none;

							}

						}

							.posts__picture {

								display: block;
								margin: 0 0 1.5em 0;

							}

								.posts__img {}

							.posts__title {

								font-size: 2.25rem;

							}

								.posts__link {

									&:hover {}

								}

							.posts__footer {}

								.posts__time {

									color: $color-gray-40;

								}

							.posts__excerpt {

								margin: 1em 0 0 0;

								p {

									&:last-of-type {

										margin: 0;

									}

								}

							}
							
							.posts__more {

								margin: 2em 0 0 0;

							}

								.posts__more-link {

									display: inline-block;
									padding: 1em 1.5em;
									color: $color-base-white;
									background: $color-primary-blue;

									&:hover {

										text-decoration: none;

									}

								}

			/* Post */

			.post {}

				.post__inner-wrap {}

					.post__title {

						font-size: 2.25rem;

					}

					.post__footer {}

						.post__time {

							color: $color-gray-40;

						}

						.post__category {}

							.post__category-list {

								margin: 0;
								padding: 0;
								list-style: none;

							}

								.post__category-item {}

									.post__category-link {

										&:hover {}

									}

					.post__content {

						margin: 1em 0 0 0;

						p {

							&:last-of-type {

								margin: 0;

							}

						}

					}

			/* Contact Us */

			.contact_us_overview {}

				.contact_us_overview__inner-wrap {}

					.contact_us_overview__header {}

					.contact_us_overview__subheader {

						margin: 0;
						font-size: 1.5em;
						font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
						font-weight: normal;
						color: $color-primary-orange;

					}

					.contact_us_overview__content {

						margin: 1em 0 0 0;
						// color: $color-gray-50;

					}

					/* Contact Form */

					.wpcf7 {

						margin: 3em 0 0 0;

					}

						.screen-reader-response {

							display: none;

						}

						.wpcf7-form {}

							.form__fieldset {}

								.form__legend {

									display: none;

								}

								.form__list {

									margin: 0;
									padding: 0;
									list-style: none;

								}

									.form__item {

										width: 100%;
										// max-width: 480px;
										margin: 0 0 2em 0;

										&:last-of-type {

											max-width: none;

										}

									}

									.form__item--is-required {}

										label {

											margin: 0 0 0.25em 0;

										}

											.required {

												color: $color-primary-orange;

											}

										.wpcf7-form-control-wrap {}

											input {

												&.wpcf7-not-valid {

													border-color: $color-primary-orange;

												}

											}

											select {}

											textarea {

												&.wpcf7-not-valid {

													border-color: $color-primary-orange;

												}

											}

											.wpcf7-not-valid-tip {

												display: block;
												margin: 0.65em 0 0 0;
												color: $color-primary-orange;

											}

							.form__button {

								margin: 1em 0 0 0;

							}

								.wpcf7-submit,
								.wpcf7-submit[type="submit"] {

									display: inline-block;
									width: auto;

								}

							.wpcf7-response-output {

								display: none;

							}