/*------------------------------
 Pre-Header
------------------------------*/

// Notes...

.pre-header {

	padding: 0 20px;
	color: $color-base-white;
	background: $color-primary-green;

	@media screen and (min-width: 600px) {

		padding: 0 40px;

	}

	@media screen and (min-width: 800px) {

		padding: 0 60px;

	}

}

	.pre-header__wrap {

		width: 100%;
		max-width: 960px;
		margin: 0 auto;

	}

		.utilities {}

			.utilities__list {

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-end;
				align-items: flex-start;
				align-content: flex-start;
				margin: 0;
				padding: 0;
				list-style: none;

			}

				.utilities__item {

					margin: 0;
					font-size: 0.75rem;
					border-left: 1px solid rgba($color-base-white, 0.25);

					&:last-of-type {

						border-right: 1px solid rgba($color-base-white, 0.25);

					}

				}

					.utilities__link {

						display: block;
						
						height: 40px;

						// When showing the Member Sign In and Shopping Cart buttons

						// padding: 1em 1.5em 1em 1.5em;

						// While just showing the Contact Us button

						// padding: 1em 0 1em 1.5em;

						// While showing the Contact Us button with social media icons

						padding: 1em 1.5em 0 1.5em;

						color: $color-base-white;

					}

				.utilities__item--social {}

					.utilities__item--social-link {

						width: 40px;
						height: 40px;
						padding: 0;
						background: url(../img/social.svg) 0 0 no-repeat;
						background-size: 120px 40px;

						@include hide-text;

					}

				.utilities__item--social-facebook {

					.utilities__item--social-link {}

				}

				.utilities__item--social-twitter {

					.utilities__item--social-link {

						background-position-x: -40px;

					}

				}

				.utilities__item--social-instagram {

					.utilities__item--social-link {

						background-position-x: -80px;

					}

				}

				.utilities__shopping-bag {

					// margin-left: auto;
					// border: none;

					.utilities__link {

						// padding-left: 0;
						padding-right: 0;

					}

				}

						.utilities__quantity {}